.header {
  background: linear-gradient(135deg, #00876a, #87c764);
  background: linear-gradient(135deg, #006748, #0ba577);
  padding: 2rem 1rem;
  border-radius: 0 0 20px 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-heading {
  font-size: 2.25rem; /* 2.25 * 16px = 36px */
  margin-bottom: 2rem;
  text-align: center;
}

.stock-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-input {
  border-radius: 4px;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

/* .form-input:focus {
  outline: none; 
  box-shadow: 0 0 5px #006e5897;
}
*/

.add-stock-btn {
  background-color: #d2f161;
  border: none;
  color: #084432;
  width: 100%;
  transition: all 0.2s ease; /* property duration timing-function */
}

.add-stock-btn:hover {
  background-color: #084432;
  color: #d2f161;
}

@media (min-width: 780px) {
  .dashboard-heading {
    font-size: 3rem; /* 3 * 16px = 48px */
  }
  .stock-form {
    flex-direction: row;
  }

  .form-input {
    width: 184px;
  }

  .add-stock-btn {
    width: 130px;
  }
}
