.stocklist-container {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.stocklist-heading {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #084432;
}

.stocklist-card {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  line-height: 1.6;
  transition: all 0.2s ease; /* property duration timing-function */
}

.stocklist-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-4px);
}

.symbol {
  font-weight: bold;
}

.profit-loss {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

.empty-state {
  text-align: center;
}

.api-error-text {
  text-align: center;
  margin-top: 10px;
}

.profit-positive {
  color: green;
}

.profit-negative {
  color: red;
}

.profit-neutral {
  color: gray;
}

@media (min-width: 780px) {
  .stocklist-container {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* count, size */
  }
}
