.header {
  background: linear-gradient(135deg, #00876a, #87c764);
  background: linear-gradient(135deg, #006748, #0ba577);
  padding: 3rem 1rem;
  border-radius: 0 0 20px 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-heading {
  font-size: 2.25rem; /* 2.25 * 16px = 36px */
  margin-bottom: 2rem;
  text-align: center;
}

.stock-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.stock-form > div {
  width: 100%;
}

.stock-label-input {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

.form-input {
  border-radius: 4px;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #333;
  width: 100%;
}

/* .form-input:focus {
  outline: none; 
  box-shadow: 0 0 5px #006e5897;
}
*/

.add-stock-btn {
  background-color: #d2f161;
  border: none;
  color: #084432;
  width: 100%;
  margin-top: 10px;
  transition: all 0.2s ease; /* property duration timing-function */
}

.add-stock-btn:hover {
  background-color: #084432;
  color: #d2f161;
}

.error-text {
  color: #fff;
  background-color: #d32f2f;
  font-size: 0.85rem;
  margin-top: 4px;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
}

.input-error {
  border: 2px solid #d32f2f;
  background-color: #fdd;
}

@media (min-width: 780px) {
  .header {
    border-radius: 0 0 40px 40px;
  }

  .dashboard-heading {
    font-size: 3rem; /* 3 * 16px = 48px */
  }

  .stock-form {
    flex-direction: row;
    align-items: flex-start;
  }

  .stock-form > div {
    width: 184px;
  }

  .add-stock-btn {
    margin-top: 0;
    width: 130px;
  }

  .center-btn {
    align-self: center;
  }

  .end-btn {
    align-self: flex-end;
  }
}
